.env
config.py
instance/

*.sqlite3
*.db

*.pyc
*.pyo
*.pyd
__pycache__/
*.swp

logs/
*.log
*.out
*.err
*.bak
*.tmp

venv/
env/
*.egg-info/
pip-log.txt

node_modules/
package-lock.json
yarn.lock

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
